@import "_imports";

.u-pageHome {


	/*	Layout
		------ */

	.u-Masthead__siteName--link {
		padding: 4% 0 0 0;
	}
	.u-lMain, .u-NavSite {
		padding-top: 1%;
		padding-right: 0;
	}
	.u-NavSite {
		padding-left: 3%;
	}
	.u-NavSite__item {
		padding: .35em 0;
	}
	
	.u-lHeader {
		padding-top: 4em;
	}
	
	@media all and (min-width: $small) {
		.u-Search {
			right: 0;
			left: auto;
		}
		.u-lHeader {
			padding-top: 0;
		}
	}
	@media all and (min-width: $small) {
		.u-lContent {
			padding-right: 8%;
		}
	}
	@media all and (min-width: $large) {
		.u-lContent {
			padding-right: 4%;
		}
		.u-Masthead__siteName--link {
			padding-left: .05em;
		    padding-right: .1em;
		}
	}
	
	.u-lContent {
		margin-bottom: 4.25em;
	}
	.u-lFooter {
		padding: 4em 4%;
	}
	
	
	/*	Typography
		---------- */
	
	.u-Masthead__siteName--link {
		text-transform: uppercase;
		font-size: 1.4em;
		font-weight: normal;
		text-align: center;
	}
	@media all and (min-width: $small) {
		.u-Masthead__siteName--link {
			font-size: 10.5vw;
			letter-spacing: -.5vw;
			text-indent: -1vw;
			font-weight: 300;
		}
	}
	@media all and (min-width: 1367px) {
		.u-Masthead__siteName--link {
			font-size: 4.5em;
		}	
	}
	
	
	/*	Color
		----- */

		body {
			background: #fff;
			position: relative;
		}
		body:before,
		body:after {
			content: "";
			position: absolute;
			background: #fff;
			height: 100%;
			top: 0;
			width: 100%;
		}
		body:before {
			left: -100%;
		}
		body:after {
			right: -100%;
		}

		@media all and (min-width: $small) {
			.u-Masthead__vassar--link:after {
				content: "";
				position: absolute;
				width: 99%;
				height: 1px;
				border-bottom: 3px double #e3b6ce;
				top: 50%;
				margin-left: 1%;
			}
		}
		.u-Masthead__siteName--link,
		.u-Masthead__siteName--link:visited {
			color: #000;
		}

		.u-NavSite__item {
			border-bottom: 1px solid #eee;
		}		
		.u-NavSite__item,
		.u-NavSite__item:visited {
			color: #d8652f;
		}
		.u-NavSite__item:hover {
			color: #BA4813;
		}
		.u-lContent p:last-child {
			position: relative;
		}
		.u-lContent p:last-child:after {
			content: "";
			position: absolute;
			top: 110%;
			left: 0;
			width: 100%;
			height: 3em;
			background: url(#{$imagesFolder}/fp-imagebanner.jpg);
			background-size: cover;
		}


}






















